@model library.Models.Shelf

@{
    ViewData["Title"] = "CreateShelf";
}

<h1>הוסף מדף</h1>

<h4>מדף</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateShelf" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input hidden="hidden" name="ArkId12" value="@Model.Ark.Id" /> 

            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input id="" asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>
            <div>

            </div>
            <div class="form-group">
                <input id="bt" type="submit" value="צור" class="btn btn-primary"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
